.spacer {
  flex: 1 1 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 8px;

  button {
    display: flex;
    align-items: center;
    gap: 5px;

    // Efeito para o link ativo
    &.active-link {
      background: rgba(255, 255, 255, 0.15);
      border-bottom: 2px solid white;
      border-radius: 0;
    }
  }
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
